nav {
    background-color: #353268;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}

nav h1{
    font-size: 40px;
}

.navTitle{
    text-decoration: none;
    color: white;
}
.nav-link{
    font-size: 18px;
}
.ms-lg-5{
    margin-left: 200px ;
}
.test1 { 
    background-color: red;
    height: 200px;
    width: 200px;
    margin: auto;
}
.test2 {
 background-color: blue;
 height: 200px;
 width: 200px;
 margin: auto;
}